
<form action="http://localhost:3000/vfs" method="GET">
    <select id="select">
        <option value="Ubuntu">Ubuntu</option>
        <option value="Debian">Debian</option>
        <option value="Red Hat">Red Hat</option>
    </select>
    <input type="submit" value="Submit">
</form>
