<div>
    <form action="http://localhost:3000/vfs" method="GET">
        <input type="text" value="command">
        <input type="text" value="option">
        <input type="text" value="path">
        <input type="submit" value="Submit">
    </form>
    <form action="http://localhost:3000/vfs" method="post">
        <input type="text" value="command">
        <input type="text" value="path">
        <input type="text" value="content">
        <input type="submit" value="Submit">
    </form>
</div>